---
import Social from './Social.astro';  
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on <Social platform="Github" username="LaScheggia"/>. To learn more about Astro, follow this <Social platform="youtube" username="astrodotbuild"/> channel.</p>
</footer>